@media (max-width:1280px) {
    .menu {
        background-color: transparent;

        &__icons {
            margin: auto 50%;
            min-width: 84px;
            transform: translateX(-50%);
        }
    }

    .menu,
    .active {

        max-width: 18.2%;

        &__items a {
            font-size: 16px;
        }
    }

    .promo {
        .social__panel {
            display: none;
        }
    }

    .container,
    .container1 {
        max-width: 960px;

        .title__main .title__about {

            max-width: 400px;
            font-size: 40px;
            line-height: 44px;

        }

        .title__about:hover {
            animation: none;
        }

        .about {
            width: 960px;
            grid-template-columns: repeat(2, minmax(400px, 560px));

            &__me {
                // max-width: 510px;
                transform: none;
            }

            &__descr-grid {
                display: grid;
                grid-template-rows: auto;
                grid-template-columns: auto;
                row-gap: 50px;

            }

        }

        .resume {
            padding-top: 60px;

            &__grid {
                grid-template-columns: repeat(2, minmax(340px, 340px));
                justify-content: space-evenly;
            }
        }

        .skills {
            padding-top: 60px;

            &__grids {
                display: grid;
                grid-template-columns: repeat(auto-fit, 270px);
                // grid-template-columns: repeat(4, minmax(220px, 220px));
                // grid-template-rows: repeat(2, 250px);
                grid-auto-rows: 270px;
                justify-content: center;
                align-content: center;
                gap: 8px;
            }

            &__grid {
                padding: 20px;
            }

            .skill__grid-text {
                font-weight: 700;
                font-size: 11px;
                line-height: 15px;
            }
        }

        .rating {
            padding-top: 60px;

            &__lists {
                display: grid;
                grid-template-rows: 70px 70px;
                grid-template-columns: 300px 300px 300px;
                justify-content: space-between;
                justify-items: stretch;
                align-items: center;
                grid-column-gap: 20px;
                grid-row-gap: 25px;
            }

            &__strip0,
            &__strip1,
            &__strip2,
            &__strip3,
            &__strip4,
            &__strip5 {
                width: auto;
            }
        }

        .works {

            &__wrapper {
                margin-top: 60px;
                display: grid;
                grid-template: repeat(2, 230px)/repeat(4, 234px);
                grid-auto-rows: 230px;
                gap: 5px;
            }

            &__links {
                transition: all 0.6s;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }


            .horizonal {
                grid-row: 2 / 3;
                grid-column-start: 2;
                grid-column-end: 4;
            }

            .vertical {
                grid-row: 1 / 3;
                grid-column: 4 / 5;
            }
        }

        .contacts {
            &__grid {
                min-height: 600px;
                display: grid;
                grid-template-columns: 400px 540px;
                // grid-template-rows: 600px;
                justify-content: unset;
                grid-column-gap: 20px;
            }

            .contacts__form {
                display: grid;
                // grid-template-rows: 45px 190px 45px;
                // grid-template-columns: repeat(2, 250px);
                grid-template: 45px 190px 45px / repeat(2, 250px);
                grid-auto-rows: auto;
                gap: 20px;
            }

            .policy {
                position: relative;

                input {
                    position: absolute;
                    top: 3px;
                    left: 45px;
                    z-index: 1;
                }

                #policy {
                    position: relative;
                    top: 4px;
                    left: -30px;
                }

            }

            // #policy {
            //     display: flex;
            //     flex-wrap: wrap;
            //     align-items: flex-start;
            // }
        }

    }
}



// ///////////////////////////////////////////////////////////////////////////
@media (max-width:991px) {

    .container,
    .container1 {
        max-width: 720px;

        #about {
            &__me {
                display: grid;
                grid-template-columns: 330px 295px;
                column-gap: 90px;



            }
        }

        .about__me {
            .about__descr-grid {
                display: grid;
                grid-template-columns: 250px;
                grid-template-rows: auto;
                row-gap: 30px;

            }
        }

        .resume {
            &__list {
                margin: 0 auto;
                width: 50%;
            }

            &__text {
                width: 250px;
            }
        }

        .rating {
            &__lists {
                grid-template-columns: repeat(auto-fit, 500px);
                justify-content: center;
                row-gap: 20px;


            }
        }

        .works {

            &__wrapper {
                grid-template-columns: repeat(auto-fit, 1fr);
                grid-template-rows: repeat(2, 230px);
                // grid-auto-rows: 230px;

                .horisontal {
                    grid-row: 2 / 3;
                    grid-column: 2 / 3;
                }

                .vertical {
                    grid-row: 2 / 3;
                    grid-column: 3 / 4;
                }

                .ipad {
                    grid-row: 2 / 3;
                    grid-column: 1 / 2;
                }
            }
        }

        .price {
            &__lists-grid {
                margin-top: 40px;
                grid-template-columns: repeat(auto-fit, 395px);
                justify-content: center;
                align-items: center;


                // justify-content: center;
                // align-items: center;
            }
        }

        .price__lists:nth-child(1),
        .price__lists:nth-child(2) {
            margin: 0;
        }

        .contacts {
            padding: 40px;

            &__grid {
                grid-template-columns: 580px;
                justify-content: center;
            }

            &__photo {
                width: 100%;
                max-height: 300px;
            }

            img {
                margin: 0;
            }

            &__info {
                margin: 0 auto;
                padding: 40px;
            }

            // form .policy {}
        }
    }

    // ///////////////////////////////////////////////////////////////////////////
    @media (max-width:786px) {

        .container,
        .container1 {
            max-width: 540px;
        }
    }

    // ///////////////////////////////////////////////////////////////////////////
    @media (max-width:576px) {

        .container,
        .container1 {
            width: 100%;
            padding: 0 10px;
        }
    }
}